<section class="admin-section">

    <h1 id="booking-heading">
        Booking Dashboard
    </h1>

    <table>

        <thead>

            <tr>
                <th>Client</th>
                <th>Service</th>
                <th>Category</th>
                <th>Date</th>
                <th>Time</th>
                <th>Status</th>
            </tr>

        </thead>

        <tbody>



            {{#each bookings}}

                <tr>

                    <td>
                        {{client_name}}
                    </td>

                    <td>
                        {{service_name}}
                    </td>
                   
                    <td>
                        {{service_category}}
                    </td>

                    <td>
                        {{booking_date}}
                    </td>

                    <td>
                        {{booking_time}}
                    </td>

                    <td>
                        <a href="#" >{{status}}</a>
                    </td>

                </tr>

            {{/each}}

        </tbody>

    </table>

</section>

{{> footer}}