<section>
    <h2> Here are our services below</h2>
    <ol>
        <h3>Pedicure </h3>
        {{#each pedicureServices}}  
            <li>{{service_name}} - {{description}} - R{{price}}</li>
        {{/each}}
    </ol>
   
    <ol>
        <h3>Manicure </h3>
        {{#each manicureServices}}  
            <li>{{service_name}} - {{description}} - R{{price}}</li>
        {{/each}}
    </ol>
   
    <ol>
        <h3>Extra services </h3>
        {{#each extraServices}}  
            <li>{{service_name}} - {{description}} - R{{price}}</li>
        {{/each}}
    </ol>
</section>